.footer {
  /* margin: 0 60px; */
  border-radius: 30px 30px 0 0;
  margin-top: 60px;
  float: left;
  width: 100%;
  /* min-height: 50vh; */
  background-color: #1b1b1b;
  box-shadow: 0 0 1px rgba(255, 255, 255, 1);
  /* border: 2px solid white; */
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

}

.footer__kaizen {
  /* height:300px; */
  /* position: absolute; */
  width: 50%;
  /* border: 2px solid white; */
  padding: 2.5rem 60px;
}

.kaizen-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.kaizen-title img {
  width: 40px;
  /* border:1px solid cyan; */
  object-fit: cover;
}

.kaizen-title h2 {
  font-size: 1.2rem;
}

.kaizen-desc {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.footer__reach {
  padding: 2.5rem 60px;
  /* border: 2px solid yellow; */
  width: 50%;
}



.reach-contact h2 {
  /* border: 1px solid red; */
  font-size: 1rem;
  margin: 0;
}

.reach-contact hr {
  background: cyan;
  height: 1px;
  border-radius: 50px;
  width: 80%;
  margin: 0;
  margin: 7px 0 16px 0;
}

.reach-contact ul {
  padding: 0;
  /* border: 1px solid white; */
  list-style: none;
  font-size: 0.75rem;
}

.reach-contact ul span {
  font-weight: bold;
  color: aliceblue;
}

.reach-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reach-socials > a {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  background-color: black;
  bottom: 0;
  padding: 1rem;
  margin-top:1rem;
  /* position: absolute; */
  /* border: 1px solid red; */
}

.footer__copyright span {
  font-size: 0.7rem;
  color: cyan;
}

@media screen and (max-width: 768px) {
  .footer{
    
    flex: 1;
    /* margin-right:60px; */
    /* padding:1rem; */
    padding-bottom:0;
  }
  .footer__kaizen,
  .footer__reach {
    margin: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0;
  }
}

@media screen and (max-width:425px){
  .footer{
    width: 94%;
  }
}
