.header {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem;

  background-color: #1b1b1b;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter:blur(10px);
  /* border-radius: 0 0 15px 15px; */
  box-shadow: 0 0 3px cyan;
}

.logo {
  min-width: 60px;
  min-height: 60px;
  margin-right: auto;
  flex:0.05;
}

.header ul {
  /* border:1px solid red; */
  margin-left: auto;
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header ul li {
  font-size: 1.1rem;
  border: 1.5px solid transparent;
  margin-left: 1rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
  /* border-radius: 10px; */
}

.header ul li:hover {
  border-bottom: 1.5px solid cyan;
  cursor: pointer;
}

@media screen and (max-width:425px){
  .logo{
    display: none;
  }
  .header ul{
    justify-content: space-between;
  }
  .header ul li{
    margin: 0 0.5rem;
  }
}





.navbar{
  width: 100vw;
  position: fixed;
  top:0;
  z-index:999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter:blur(10px);
  box-shadow: 0 0 3px cyan;
}

.hamburger-menu{
  width: 35px;
  height: 35px;
}

.nav-item{
  padding: 0rem 1rem;
  border: 2px solid transparent;
  border-radius: 50px;
  margin: 0 0.4rem;
  transition: 0.2s ease-in-out;
}
.nav-item:hover{
  border: 2px solid cyan;
}
